.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: var(--font-size-md);
  line-height: var(--spacing-md);
  padding: var(--spacing-sm);
  border-radius: var(--spacing-sm);
  border: var(--border-none);
  cursor: pointer;
}

.default {
  color: var(--color-foreground-secondary);
  background: var(--color-surface-secondary);
  border-color: var(--color-surface-secondary);
}

.neutral {
  color: var(--color-foreground-primary);
  background: var(--color-surface-neutral);
  border: var(--border-primary);
}

.subtle {
  color: var(--color-foreground-primary);
  background: var(--color-surface-subtle);
}

.button:hover {
  color: var(--color-foreground-secondary);
  background: var(--color-surface-accent);
  border: var(--border-primary);
}
