.form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-xs);
  gap: var(--spacing-sm);
  box-sizing: border-box;
}

.taskWrapper,
.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}

.taskWrapper {
  gap: var(--spacing-md);
}

.text {
  min-width: 186px;
  text-align: left;
}
