:root {
  font: var(--font-size-md)/145% var(--font-sans);
  letter-spacing: 0.18px;

  color: var(--color-foreground-primary);
  background: var(--color-surface-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: var(--border-primary);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  color: var(--color-foreground-primary);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
code {
  font-family: var(--font-mono);
  display: inline-flex;
  border-radius: calc(var(--spacing-sm) / 2);
  color: var(--color-foreground-primary);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: calc(var(--spacing-sm) / 2) var(--spacing-sm);
  background: var(--color-surface-neutral);
}
