:root {
  --color-primary: #2c2c2c;
  --color-neutral: #e3e3e3;
  --color-subtle: rgb(255, 255, 255, 0.4);
  --color-background: #ffffff;
  --color-primary-text: #000000;
  --color-secondary-text: #757575;
  --color-accent: #5b4fcf;
  --color-text-brand: #5b4fcf;
  --border-brand-default: #5b4fcf;
  --border-neutral-secondary: #5b4fcf;

  --body-md: 16px;
  --spacing-xs: 16px;
  --spacing-sm: 8px;
}